            /* Configurable things */
            :root {
                /* Maximum width of thumbnail images */
                --max-thumb-width: 250px;
                /* Page background color */
                --bg-color: #151515;
                /* Paging navbar background color */
                --nav-bg-color: #2b2b2b;
                /* Paging link border color */
                --paging-border-color: #b5b5b5;
                /* Paging link text color */
                --paging-link-color: #fff;
                /* Paging link hover color */
                --paging-hover-color: #00f;
                /* Active page link background color */
                --paging-active-page: #00b;
                /* Inactive page link background color */
                --paging-inactive-page: #151515;

            }

            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            }

            body {
                background-color: var(--bg-color);
                color: #fff;
                overflow-y: scroll;
            }

            .gallery {
                width: 75%;
                margin: 50px auto 30px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(var(--max-thumb-width), 1fr));
                grid-gap: 10px;
            }

            .thumbnail {
                width: 100%;
                height: auto;
                object-fit: cover;
                cursor: pointer;
            }

            header {
                position: fixed;
                top: 0;
                width: 100%;
                text-align: center;
                padding: 5px 0;
                background-color: var(--nav-bg-color);
            }

            .paging {
                list-style: none;
                padding: 0;
                margin: 0;
                display: inline-block;
            }

            .paging li {
                display: inline-block;
                margin-right: 5px;
                width: 30px;
                background-color: var(--paging-inactive-page);
                border: 1px solid var(--paging-border-color);
            }

            .paging li a {
                display: block;
                padding: 5px 0;
                width: 100%;
                text-decoration: none;
                color: var(--paging-link-color);

            }

            .paging li a:hover {
                background-color: var(--paging-hover-color);
            }

            .active {
                font-weight: bold;
                background-color: var(--paging-active-page);
            }

            .next,
            .previous {
                padding: 5px 0;
                width: 10px;
            }

            footer {
                font-weight: 700;
                width: 100%;
                position: fixed;
                bottom: 0;
                text-align: center;
                background-color: var(--nav-bg-color);
            }